@import "tailwindcss";

@theme {
    --color-bg: #FFF5DC;
    --color-noir: #1B1717;
    --color-maroon: #6F060B;
    --color-cherry: #810100;
    --color-cotton: #EDEBDD;
    --color-butter: #F5D060;
    --color-beige: #F5F5DC;
    --font-display: "Bodoni Moda", sans-serif;
    --font-body: "Didact Gothic", sans-serif;
}

body {
    background-color: #1B1717;
    color: #1B1717;
    display: flex;
    justify-content: center;
}